header {
  background: #0077a4; }
  header .centro-header {
    width: 1024px;
    margin: 0 auto;
    max-width: 100%;
    padding-left: 12px;
    padding-right: 12px;
    box-sizing: border-box; }
    header .centro-header .redes-sociais {
      float: none;
      width: 100%;
      margin-top: 10px;
      margin: 0 auto; }
      header .centro-header .redes-sociais .c-redes {
        width: 188px;
        margin-left: auto; }
      header .centro-header .redes-sociais ul {
        list-style: none; }
      header .centro-header .redes-sociais .fa {
        float: left;
        color: #fff;
        font-size: 15px;
        margin-right: 17px; }

#welcomeHero {
  float: left;
  max-width: 100%;
  margin-top: 30px;
  width: 100%; }
  #welcomeHero #slideshow-main {
    width: 70%;
    max-width: 100%;
    float: left;
    margin-right: 0; }
    #welcomeHero #slideshow-main ul {
      margin: 0;
      padding: 0;
      width: 100%;
      max-width: 100%; }
    #welcomeHero #slideshow-main li {
      width: 100%;
      max-width: 100%;
      height: 357px;
      display: none;
      position: relative; }
      #welcomeHero #slideshow-main li img {
        width: 100%;
        max-width: 100%; }
      #welcomeHero #slideshow-main li.active {
        display: block; }
      #welcomeHero #slideshow-main li span.opacity {
        position: absolute;
        bottom: 0px;
        left: 0px;
        display: block;
        width: 100%;
        height: 120px;
        background: #000;
        filter: alpha(opacity=50);
        -moz-opacity: 0.5;
        -khtml-opacity: 0.5;
        opacity: 0.5;
        z-index: 500; }
      #welcomeHero #slideshow-main li span.content {
        position: absolute;
        bottom: 45px;
        left: 0;
        display: block;
        width: 100%;
        height: 60px;
        z-index: 1000; }
        #welcomeHero #slideshow-main li span.content h1 {
          font-size: 14px;
          margin: 5px 0;
          padding: 0 10px;
          color: #42e2e8; }
        #welcomeHero #slideshow-main li span.content p {
          font-size: 11px;
          margin: 5px 0;
          padding: 0 10px;
          color: #42e2e8; }
        #welcomeHero #slideshow-main li span.content .autor-slider-centro {
          text-align: center;
          margin-top: 14px; }
          #welcomeHero #slideshow-main li span.content .autor-slider-centro a {
            color: #00b9ff;
            font-family: 'Open Sans', sans-serif;
            font-weight: 600;
            font-size: 13px; }

#slideshow-carousel {
  float: left;
  width: 30%;
  max-width: 100%;
  position: relative; }
  #slideshow-carousel img {
    width: 300px;
    max-width: 100%;
    opacity: 1; }
  #slideshow-carousel .active {
    filter: alpha(opacity=100);
    -moz-opacity: 1.0;
    -khtml-opacity: 1.0;
    opacity: 1.0; }
  #slideshow-carousel .faded {
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5; }
  #slideshow-carousel ul {
    margin: 0;
    padding: 0;
    list-style: none; }
    #slideshow-carousel ul li {
      height: 97px;
      position: relative; }
      #slideshow-carousel ul li .arrow {
        left: 3px;
        top: 28px;
        position: absolute;
        width: 20px;
        height: 40px;
        background: url(images/arrow_white.png) no-repeat 0 0;
        display: block; }
      #slideshow-carousel ul li a {
        width: 300px;
        max-width: 100%;
        height: 90px;
        z-index: 10;
        float: left;
        position: relative; }
      #slideshow-carousel ul li .query-slider {
        width: 100%;
        float: left;
        margin-top: -89px;
        z-index: 0;
        background: #777777;
        padding: 21px 15px 8px 15px;
        margin-bottom: -1px; }
        #slideshow-carousel ul li .query-slider .titulo-query-slider p a {
          color: #fff;
          margin-top: -70px;
          z-index: 0;
          padding-left: 80px;
          font-family: 'Open Sans Condensed', sans-serif;
          font-weight: 700;
          font-size: 18px; }
        #slideshow-carousel ul li .query-slider .autor-slider-pequeno {
          width: 100%;
          margin-top: -60px;
          text-align: left;
          padding-left: 11px;
          float: left; }
          #slideshow-carousel ul li .query-slider .autor-slider-pequeno a {
            height: auto;
            color: #00b9ff;
            font-family: 'Open Sans', sans-serif;
            text-transform: uppercase;
            font-size: 10px;
            z-index: 0; }

.fundo-full-articulistas {
  background-color: #000;
  float: left;
  width: 100%;
  max-width: 100%;
  height: auto;
  padding: 0;
  margin: 64px 0px 0px 0px; }
  .fundo-full-articulistas .carousel {
    height: 90px;
    width: 1000px;
    max-width: 100%;
    float: left;
    background: #000;
    margin-top: 0px; }

.authorPostSidebar {
  margin: -8px 0px 0px 0px;
  float: left;
  width: 100%;
  color: #38A8D9;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px; }
  .authorPostSidebar a {
    color: #38A8D9; }
    .authorPostSidebar a:hover {
      color: #38A8D9; }

.sidebarRight {
  float: right;
  width: 300px;
  max-width: 100%;
  margin-top: 48px; }
  .sidebarRight aside.sidebar {
    float: right;
    width: 300px;
    background: #ddd; }
    .sidebarRight aside.sidebar.videos-sidebar {
      margin-top: 20px; }
    .sidebarRight aside.sidebar h3 {
      padding-bottom: 7px;
      text-transform: uppercase;
      color: #000;
      border-top: 1px solid #fff;
      border-bottom: 1px solid #fff;
      padding-top: 8px;
      text-align: center;
      margin-top: 10px;
      margin-left: 10px;
      margin-right: 10px;
      font-family: 'Open Sans Condensed', sans-serif;
      font-size: 18px;
      font-weight: 700; }
  .sidebarRight aside .videosSidebar {
    padding: 18px; }
  .sidebarRight aside.sidebarTags {
    margin-top: 20px; }
    .sidebarRight aside.sidebarTags .tagsContet {
      width: 100%;
      float: left;
      padding-left: 10px;
      padding-right: 10px;
      margin-bottom: 15px; }
      .sidebarRight aside.sidebarTags .tagsContet ul {
        padding: 0;
        margin: 0; }
        .sidebarRight aside.sidebarTags .tagsContet ul li {
          list-style: none; }
          .sidebarRight aside.sidebarTags .tagsContet ul li a {
            border: 1px solid #989898;
            padding: 0px 7px;
            color: #000;
            float: left;
            margin-bottom: 6px;
            margin-right: 7px;
            font-family: 'Open Sans', sans-serif;
            font-size: 16px !important; }

.artigos .img2 {
  width: 100%; }
  .artigos .img2 img {
    width: 100%; }

.controleFonte {
  width: 100%;
  max-width: 100%;
  margin-top: 3px;
  margin-bottom: 10px; }

/* RESPONSIVO */
@media only screen and (max-width: 1041px) {
  /* topo */
  #welcomeHero #slideshow-main {
    width: 100%; }
    #welcomeHero #slideshow-main li span.opacity {
      display: none; }

  .navbar-default .navbar-collapse {
    border-color: none;
    margin-top: 32px;
    max-width: 100%; }

  #slideshow-carousel ul li a {
    width: 100%; }

  header .centro-header .logo {
    float: none;
    margin: 0 auto;
    text-align: center;
    margin-top: 50px; }
  header .centro-header .redes-sociais .c-redes {
    width: 221px;
    text-align: center;
    margin: 0 auto;
    margin-top: 22px; }
  header .centro-header .navbar-nav {
    float: none;
    margin: 0 auto;
    text-align: center;
    width: 506px;
    max-width: 100%; }

  /* vozes */
  .abh_tab_content .abh_text {
    margin-left: 0 !important; } }

/*# sourceMappingURL=estilo.css.map */
