header {
	background: #0077a4;

	.centro-header {
		width: 1024px;
 		margin: 0 auto;
  		max-width: 100%;
  		padding-left: 12px;
  		padding-right: 12px;
  		box-sizing: border-box;

  		.redes-sociais {
  			float: none;
     		width: 100%;
      		margin-top: 10px;
      		margin: 0 auto;

  			.c-redes {
  				width: 188px;
  				margin-left: auto;
  			}

  			ul {
  				list-style: none;
  			}

  			.fa {
  				float: left;
  				color: #fff;
  				font-size: 15px;
  				margin-right: 17px;
  			}
  		}
	}
}

#welcomeHero {
	float: left;
	max-width: 100%;
	margin-top: 30px;
	width: 100%;

	#slideshow-main {
		width:70%;
		max-width:100%; 
		float:left; 
		margin-right:0;

		ul {
			margin:0;
			padding:0; 
			width:100%;
			max-width:100%;
		}

		li {
			width:100%;
			max-width:100%; 
			height:357px; 
			display:none;
			position:relative;	

			img {
				width: 100%;
 				max-width: 100%;
			}

			&.active {
				display:block;	
			}	

			span {
							
				&.opacity {
					position: absolute;
  					bottom: 0px;
  					left: 0px;
  					display: block;
  					width: 100%;
  					height: 120px;
  					background: #000;
  					filter: alpha(opacity=50);
  					-moz-opacity: 0.5;
  					-khtml-opacity: 0.5;
  					opacity: 0.5;
  					z-index: 500;
				}

				&.content {
					position:absolute;
					bottom: 45px; left:0;
					display:block; 
					width:100%;
					height:60px;
					z-index:1000;

					h1 {
						font-size:14px;
						margin:5px 0;
						padding:0 10px;
						color:#42e2e8;
					}

					p {
						font-size:11px;
						margin:5px 0;
						padding:0 10px;
						color:#42e2e8;
					}

					.autor-slider-centro {
						text-align: center;
  						margin-top: 14px;

  						a {
  							color: #00b9ff;
  							font: {
  								family: 'Open Sans', sans-serif;
  								weight:600;
  								size:13px; 
  							}
  						}
					}
				}
			}
		}
	}
}

#slideshow-carousel {
	float:left; 
	width:30%;
	max-width:100%;
	position:relative;

	img {
		width:300px;
		max-width:100%;
		opacity: 1;
	}

	.active {
		filter:alpha(opacity=100); 
		-moz-opacity:1.0; 
		-khtml-opacity: 1.0; 
		opacity: 1.0;
	}

	.faded {
		filter:alpha(opacity=50); 
		-moz-opacity:0.5; 
		-khtml-opacity: 0.5; 
		opacity: 0.5;
	}

	ul {
		margin:0; 
		padding:0;
		list-style:none;

		li {
			height:97px; 
			position:relative;

			.arrow {
				left:3px; 
				top:28px; 
				position:absolute; 
				width:20px; 
				height:40px; 
				background:url(images/arrow_white.png) no-repeat 0 0; 
				display:block;
			}

			a {
				width: 300px;
  				max-width: 100%;
  				height: 90px;
  				z-index: 10;
  				float: left;
  				position: relative;
			}

			.query-slider {
  				width: 100%;
  				float: left;
  				margin-top: -89px;
  				z-index: 0;
  				background: #777777;
  				padding: 21px 15px 8px 15px;
  				margin-bottom:-1px;

  				.titulo-query-slider {
  					p {
  						a {
  							color: #fff;
  							margin-top: -70px;
  							z-index: 0;
  							padding-left: 80px;
  							font: {
  								family: 'Open Sans Condensed', sans-serif;
  								weight: 700;
  								size: 18px;
  							}  							
  						}
  					}
  				}
  				.autor-slider-pequeno {
  					width: 100%;
  					margin-top: -60px;
  					text-align: left;
  					padding-left: 11px;
  					float: left;

  					a {
  						height: auto;
  						color: #00b9ff;
  						font-family: 'Open Sans', sans-serif;
  						text-transform: uppercase;
  						font-size: 10px;
  						z-index: 0;
  					}
  				}
			}
		}
	}
}

.fundo-full-articulistas {
	background-color: #000;
  	float: left;
  	width: 100%;
  	max-width: 100%;
  	height: auto;
  	padding: 0;
  	margin: 64px 0px 0px 0px;

  	.carousel {
  		height: 90px;
  		width: 1000px;
  		max-width: 100%;
  		float: left;
  		background: #000;
  		margin-top: 0px;
  	}
}

.authorPostSidebar {
	margin: -8px 0px 0px 0px;
  	float: left;
  	width: 100%;
  	color: #38A8D9;
  	font: {
  	family: 'Open Sans', sans-serif;
  	size: 13px;
  	}

  	a {
  		color: #38A8D9;
  		&:hover {
  			color: #38A8D9;
  		}
  	}
}

.sidebarRight {
	float: right;
  	width: 300px;
  	max-width: 100%;	
  	margin-top: 48px;

  	aside {
		&.sidebar {
			float: right;
			width: 300px;
			background: #ddd;

		&.videos-sidebar {
			margin-top: 20px;	
		}

		h3 {
			padding-bottom: 7px;
			text-transform: uppercase;
			color: #000;
			border-top: 1px solid #fff;
  			border-bottom: 1px solid #fff;
  			padding-top: 8px;
  			text-align: center;
  			margin-top: 10px;
  			margin-left: 10px;
  			margin-right: 10px;
			font: {
			family: 'Open Sans Condensed', sans-serif;
			size: 18px;
			weight: 700;
			}
		}
	}

	.videosSidebar {
		padding: 18px;
	}

	&.sidebarTags {
		margin-top: 20px;

		.tagsContet {
			width: 100%;
  			float: left;
  			padding-left: 10px;
  			padding-right: 10px;
  			margin-bottom: 15px;
			ul {
				padding: 0;
				margin: 0;
				li {
					list-style: none;
					a {
						border: 1px solid #989898;
  						padding: 0px 7px;
  						color: #000;
  						float: left;
  						margin-bottom: 6px;
  						margin-right: 7px;
  						font: { 
  						family: 'Open Sans', sans-serif;
  						size: 16px !important;
  						}
					}
				}
			}
		}
	}

}
}

.artigos {
	.img2 {
		width: 100%;
		img {
			width: 100%;
		}	
	}	
}

.controleFonte {
	width: 100%;
  	max-width: 100%;
  	margin-top: 3px;
  	margin-bottom: 10px;	
}

/* RESPONSIVO */

@media only screen and (max-width:1041px) {
	
/* topo */

#welcomeHero {
	#slideshow-main {
		width: 100%;
		li {
			span.opacity {
				display: none;
			}
		}
	}	
} 

.navbar-default {
	.navbar-collapse {
  		border-color: none;
  		margin-top: 32px;
  		max-width: 100%;
	}
}

#slideshow-carousel {
	ul {
		li {
			a {
				width: 100%;	
			}
		}
	}
}  

header {
	.centro-header {
		.logo {
  			float: none;
  			margin: 0 auto;
  			text-align: center;
  			margin-top: 50px;	
		}

		.redes-sociais {
			.c-redes {
			  	width: 221px;
  				text-align: center;
  				margin: 0 auto;
 				margin-top: 22px;	
			}
		}

		.navbar-nav {
		 	float: none;
  			margin: 0 auto;
  			text-align: center;
  			width: 506px;
  			max-width: 100%;	
		}
	}
}

/* vozes */

.abh_tab_content {
	.abh_text {
		margin-left: 0 !important;
	}
} 


}